In [34]:
import pandas as pd

In [35]:
names = pd.Series(['Pomeray,  CODYZ ', ' Gloria; Allred', ' jayda, Smith'])

In [36]:
names = names.str.replace(';', ',')
names

0    Pomeray,  CODYZ
1      Gloria, Allred
2        jayda, Smith
dtype: object

In [37]:
names.str.len()

0    16
1    15
2    13
dtype: int64

In [38]:
names = names.str.strip()
names.str.len()

0    15
1    14
2    12
dtype: int64

In [39]:
names = names.str.lower()
names

0    pomeray,  codyz
1     gloria, allred
2       jayda, smith
dtype: object

In [40]:
names = names.str.split(', ')
names

0    [pomeray,  codyz]
1     [gloria, allred]
2       [jayda, smith]
dtype: object

In [41]:
names = pd.Series([i[::-1] for i in names])
names

0    [ codyz, pomeray]
1     [allred, gloria]
2       [smith, jayda]
dtype: object

In [42]:
names = [' '.join(i) for i in names]
names

[' codyz pomeray', 'allred gloria', 'smith jayda']